/* ---Fonts--- */
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background: url("./Images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
	background-size: cover;
  text-align: center;
}

.calculator {
  width: 300px; 
  background-color: #9dd2ea;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: #0a0047;
  border-radius: 15px;
  box-shadow: 0px 6px #009de4;
}

.title h1 {
  font-size: 3.6rem;
  font-family: 'Pacifico', cursive;
}


.output-box {
  float: right;
  clear: both;
  font-size: 1.5em;
  color:  #0a0047;
}

.buttons button {
  position: relative;
  background-color: #009de4;
  color: white;
  font-size: 1.5em;
  height: 2.5em;
  border-style: solid;
  border-width: 3px;
  border-color: #0a0047;
  border-radius: 5px;
  box-shadow: 0px 6px #008dcd;
  transition: all 0.2s ease;
  padding: 0px;

}

.buttons button:hover {
  background-color: #4cbaec;
}


.operator {
  background-color: #005dfb !important;
}

.operator:hover {
  background-color: #4c8dfc !important;
}

.equals {
  background-color: #002e7d !important;
}

.equals:hover {
  background-color: #4c6ca4 !important;
}

.buttons button:active {
  box-shadow: 0px 0px #008dcd;
  top: 6px;
}

#equals {
  float: right;
}