/* ---Fonts--- */
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background: url("./Images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

.calculator {
  width: 30%;
  background-color: rgb(30, 220, 220);
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: #0a0047;
  border-radius: 15px;
}

.title h1 {
  font-size: 3.6rem;
  font-family: 'Pacifico', cursive;
}


.output {
  direction: rtl;
  font-size: 1.5em;
  color:  #0a0047;
}

.buttons button {
  background-color: blue;
  color: white;
  font-size: 1.5em;
  height: 2.5em;
  border-style: solid;
  border-width: 3px;
  border-color: #0a0047;
  border-radius: 5px;
}

#equals {
  float: right;
}